@use "sass:color";

@mixin hover-support {
  @media (pointer: fine) {
    &:hover {
      @content;
    }
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #222;
  font-family: sans-serif;
  font-size: 15px;
  box-sizing: border-box;
  background: #ddd;
}

#app {
  display: flex;
  height: 100%;
  position: relative;
}

.prevent-touch-actions {
  display: flex;
  width: 100%;
  height: 100%;
}

.sidebar {
  background: rgb(39, 44, 54);
  width: 48px;
  height: 100%;
  z-index: 10;
  position: static;
  top: 0;
  left: 0;

  * {
    user-select: none;
  }

  &__logo__image {
    padding: 8px;
    width: 32px;
    height: 32px;
    user-select: none;
  }

  &__actions {
    user-select: none;
  }

  &__action--active {
    background: color.scale(rgb(39, 44, 54), $lightness: 50%);
  }

  &__action * {
    width: 48px;
    height: 48px;
  }

  &__action__icon {
    color: white;
    width: 32px;
    height: 32px;
    padding: 8px;
    stroke-width: 1px;
    cursor: pointer;
    user-select: none;
    
    @include hover-support() {
      background: color.scale(rgb(39, 44, 54), $lightness: 50%);
    }
  }
}

.signature {
  width: 256px;

  &__generators {
    flex: 1;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    scrollbar-width: thin;
    scrollbar-color: lightgray;
  }
}

.generator {
  display: flex;
  margin: 0;
  width: calc(256px - 8px - 8px);
  padding: 4px 8px;
  align-items: center;
  overflow-x: hidden;

  &__name {
    padding: 4px;
    flex: 1;
  }

  &__color {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin: 4px;
    margin-left: 8px;
  }
}

.user {
  width: 256px;
}

.project {
  width: 256px;
}

.drawer {
  background: rgb(244, 245, 247);
  position: static;
  height: 100%;
  top: 0;
  left: 48px;
  box-shadow: 2px 0px 1px #ccc;
  transition: width 150ms ease;
  display: flex;
  flex-direction: column;

  &--enter:not(&--enter-active), &--exit-active {
    width: 0px !important;
  }

  &__header {
    display: flex;
    height: 48px;
    align-items: stretch;
    padding-left: 8px;
    padding-right: 8px;
  }

  &__title {
    align-items: center;
    display: flex;
    flex: 1;
    padding: 8px;
    font-size: 1.2em;
    user-select: none;
  }

  &__actions {
    align-items: center;
    display: flex;
    height: 48px;
  }

  &__content {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
}

.tooltip {
  position: relative;

  &::after {
    background: #333;
    border-radius: 10px;
    color: white;
    display: none;
    padding: 10px 15px;
    position: absolute;
    text-align: center;
    z-index: 900;
    content: attr(data-tooltip);
    font-size: 12px;
  }

  &::before {
    background: #333;
    content: ' ';
    display: none;
    position: absolute;
    width: 15px;
    height: 15px;
    z-index: 900;
  }

  &--right::after {
    top: 50%;
    right: 0;
    transform: translate(calc(100% + 10px), -50%);
  }

  &--right::before {
    top: 50%;
    right: 0;
    transform: translate(calc(100% + 5px), -50%) rotate(45deg);
  }

  @include hover-support() {
    &::after, &::before {
      display: block;
    }
  }

}

.workspace {
  flex: 1;
  position: relative;

  &__diagram {
    display: flex;
    width: 100%;
    height: 100%;
  }

  &__breadcrumbs {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
    display: flex;
    justify-content: center;
    max-width: 100%;
  }
}

.slice-breadcrumbs {
  user-select: none;
  background: lightgray;
  border: 1px solid gray;
  border-radius: 8px;
  margin: 8px;
  display: flex;
  align-items: center;
  overflow-x: auto;

  svg {
    width: 16px;
    height: 16px;
  }

  &--empty {
    display: none;
  }

  &__breadcrumb {
    padding: 8px;
    display: flex;
    align-items: center;

    &--home {
      cursor: pointer;
    }

    &--inactive {
      cursor: pointer;
    }
  }
}

.panzoom {
  flex: 1;
  overflow: hidden;
  touch-action: none;

  &__child {
    transform-origin: 0 0 0;
  }
}

.diagram {
  display: flex;

  &__content {
    padding-top: 25px;
  }
}

.slice-control {
  &__icon {
    width: 16px;
    height: 16px;
  }

  &__button {
    @include hover-support() {
      background: lightgray;
    }
    width: 48px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.icon-button {
  display: inline;
  border: none;
  padding: 4px;
  margin: 4px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: transparent;

  @include hover-support {
    background: lightgray;
  }

  &__icon {
    width: 16px;
    height: 16px;
  }
}
